<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fullrun" value="0"/>
    <add key="steamKitDebug" value="0"/>
    <add key="steam-username" value="username"/>
    <add key="steam-password" value="password"/>
    <add key="steam2-username" value=""/>
    <add key="steam2-password" value=""/>
    <add key="mysql-cstring" value="server=localhost;port=3306;userid=user;password=password;database=database;charset=utf8;pooling=true"/>
    <add key="irc-server" value="chat.freenode.net"/>
    <add key="irc-port" value="6667"/>
    <add key="main-channel" value="#steamdb-test"/>
    <add key="announce-channel" value="#steamdb-test"/>
  </appSettings>
</configuration>